
@{
    ViewBag.Title = "Home";
}

@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")

<h2>Home</h2>

<hr />

<p>This page is only for Admins Only.</p>

@Html.Partial("~/Views/Sidebar/_Sidebar-bottom.cshtml")