@model IEnumerable<Simply_First.ViewModels.SiteUsersRoleVM>

@{
    ViewBag.Title = "Roles";
}

@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")

<h1 class="text-center display-4 pb-3">Roles</h1>

<table class="table table-bordered">
    <tr class="bg-primary text-white">
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
        </tr>
    }

</table>

@Html.Partial("~/Views/Sidebar/_Sidebar-bottom.cshtml")