
@{
    ViewBag.Title = "SecureArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")


<h2>Secure Area</h2>

<hr />

<p>This is a secure area.</p>

@Html.Partial("~/Views/Sidebar/_Sidebar-bottom.cshtml")