                        <hr />

                        <footer>
                         <p class="text-center">&copy; @DateTime.Now.Year - Simply First</p>
                        </footer>
                </div>
            </div>
        </div>
    </div>
</div>
