<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>-</li>
            <li>
                @{
                    if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Secure Area", "SecureArea", "Home")
                    }
                }
            </li>
            <li>
                @{
                    if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Admin Only", "AdminOnly", "Home")
                    }
                }
            </li>
            <li>
                @{
                    if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Add Role", "AddRole", "Admin")
                    }
                }
            </li>
            <li>
                @{
                    if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Add User to Role", "AddUserToRole", "Admin")
                    }
                }
            </li>

        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
