
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-fix pt-120 pb-60 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="container">

                <div class="row">

                    <div class="col-md-offset-3 col-md-6 col-md-offset-3">

                        <h2 class="text-uppercase text-bold mb-40 scrolling-animation fade-up">LOG IN</h2>

                        <form class="contact-form text-dark mb-120 scrolling-animation fade-up d1" action="~/Views/Home/Admin.cshtml" method="post" novalidate>

                            <div class="form-i-right">
                                <input class="form-control input-rect input-solid-white mb-20 requiredField" placeholder="Your Email" type="email" name="email">
                                <i class="fa fa-envelope"></i>
                            </div>

                            <div class="form-i-right">
                                <input class="form-control input-rect input-solid-white mb-20 requiredField" placeholder="Your Password" type="password" name="password">
                                <i class="fa fa-user"></i>
                            </div>

                            @*<button type="submit" class="btn btn-block btn-rect btn-3d">Log In</button>*@
                            @Html.ActionLink("Log In", "Admin", "Home", new { @class = "btn btn-block btn-rect btn-3d" })
                            <input type="hidden" name="submitted" id="submitted" value="true" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-rect btn-xl btn-block" href="http://www.simplyfirst.azurewebsites.net/home/purchaseproduct" target="_blank">
        Buy DJI Mavic Now<br>
        <span class="btn-subtext">You won't regret it</span>
    </a>
</div>
