
@{
    ViewBag.Title = "Simply First API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Simply First API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center pb-3">Simply First API</h1>


<h2>Schema</h2>

<p>All API access is over HTTPS, and accessed from this site, all data is sent and received as JSON.</p>

<div class="highlight">
    <pre>http://gurkiratbola.com/simplyfirst/api</pre>
</div>


<h2>Summary of Products</h2>

<p>Get a list of all available products and details.</p>

<div class="highlight">
    <pre>GET /ProductsAPI</pre>
</div>

<h2>Using Parameters</h2>

<p> By adding the ID number of the product to the string individual products can be sent for consumption.</p>

<div class="highlight">
    <pre>GET /ProductsAPI/1 <br /><br /><code class="language-json">"productId": 1, <br />"productName": "Mavic Pro",<br />"productDescription": "The best light weight drone tech", <br />"manufacturer": "DJI", <br />"quantity": 99,<br />"productImage": "http://djireview.com/wp-content/uploads/2016/12/1280805548-1-300x300.jpg", <br />"price": 99.99 </code></pre>
</div>

<h2>Client Errors</h2>

<p>Here are some of the common errors you may find:</p>

<div class="bd-example" data-example-id="">
    <p>Sending invalid Product Ids will result in a 404 Page Can't be found.</p>
    <p>Sending a bad controller link will get you this response.</p>
</div>

<div class="highlight">
    <pre>"message": "No HTTP resource was found that matches the request URI 'http://gurkiratbola.com/simplyfirst/api/ProductsA'.", <br />"messageDetail": "No type was found that matches the controller named 'ProductsA'."</pre>
</div>
