
@{
    ViewBag.Title = "ApiDocumentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ApiDocumentation</h2>


@{
    ViewBag.Title = "ApiDocumentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <h1>API Documentation</h1>

        <div class="container">
            <h3>Schema</h3>
            <p>All API access is over HTTPS, and accessed from this site, all data is sent and received as JSON.</p>
            <div class="bg-faded"><strong> http://gurkiratbola.com/simplyfirst/api </strong> </div>
        </div>
        <br />
        <hr />
        <div class="container">
            <h3>Summary of Products</h3>
            <p>Get a list of all available products and details</p>
            <div class="bg-faded"><strong> GET /ProductsAPI </strong> </div>
        </div>
        <br />
        <hr />

        <div class="container">
            <h3>Using Parameters</h3>
            <p>
                By adding the ID number of the product to the string individual products can be sent for consumption <br />
                Current Usable Id's 1-3
            </p>
            <div class="bg-faded"><strong> GET /ProductsAPI/1 </strong></div>
            <p>

                "productId": 1, <br />
                "productName": "Mavic Pro",<br />
                "productDescription": "The best light weight drone tech", <br />
                "manufacturer": "DJI",<br />
                "quantity": 99,<br />
                "productImage": "http://djireview.com/wp-content/uploads/2016/12/1280805548-1-300x300.jpg",<br />
                "price": 99.99 <br />

            </p>
        </div>
        <br />
        <hr />
        <div class="container">
            <h3>Client Errors</h3>
            <p>Here are some of the common errors you may find:</p>
            <div class="well">
                <ul>
                    <li>Sending invalid Product Ids will result in a 404 Page Can't be found.</li>
                    <li>
                        <p>
                            Sending a bad controller link will get you this response. <br />
                            "message": "No HTTP resource was found that matches the request URI 'http://gurkiratbola.com/simplyfirst/api/ProductsA'.", <br />
                            "messageDetail": "No type was found that matches the controller named 'ProductsA'."
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>