
@{
    ViewBag.Title = "Contact";
}

<h1 class="display-4 pb-3">Contact Us!</h1>

<form class="col-6 pt-3">
    <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Name</label>
        <div class="col-10">
            <input class="form-control" type="text" value="Enter your name" id="name" required />
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-2 col-form-label">Email</label>
        <div class="col-10">
            <input class="form-control" type="email" value="Enter your email" id="email" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="message" class="col-2 col-form-label">Message</label>
        <div class="col-10">
            <textarea class="form-control" type="text" placeholder="Enter your message" id="message" rows="5" required></textarea>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-10">
            <input class="btn btn-primary" type="button" value="Submit" id="submit">
        </div>
    </div>
</form>
