@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home";
    ViewBag.BodyClass = "Home";
}

<div class="homepage-hero-module">
    <div class="video-container">
        <div class="title-container">
            <div class="headline">
                <!--Original logo height 80px-->
                <h1 class="text-white text-thin">DJI Mavic Pro</h1>
                <h3 class="text-white text-thin">No Limit Wherever You Go.</h3>
                <h5 class="text-white text-thin">@Html.ActionLink("Documentation", "Document", "Home", null, new { @class = "btn btn-success btn-lg" })</h5>
            </div>

            <div class="text-center" id="loadBannerVideoSpinner" style="background-color: rgba(0, 0, 0, 0.498039); padding: 10px; border-radius: 4px; display: none; margin-top: 20px;">
                <h5 class="text-thin text-primary">Loading Coverr... <i class="fa fa-circle-o-notch fa-spin"></i></h5>
            </div>
        </div>
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="~/Content/Tropical/MP4/Tropical.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="~/Content/Tropical/WEBM/Tropical.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster">
            <img hidden src="~/Content/Tropical/Snapshots/Tropical.jpg" alt="">
        </div>
    </div>
</div>
