
@{
    ViewBag.Title = "Secure Area";
}


@*@{
    Layout = "~/Views/Sidebar/_Sidebar-top.cshtml";
}*@

    <h2>Secure Area</h2>

    <p>This is a secure area.</p>

@*@{
    Layout = "~/Views/Sidebar/_Sidebar-bottom.cshtml";
}*@
