@{
    ViewBag.Title = "Confirm Email";
}

<h1 class="text-center display-4 pb-3">Confirm Email</h1>

@Html.Raw(ViewBag.Message)

<br /><br />

@Html.ActionLink("Return to Log In", "Index", "Home", new { @class = "btn btn-primary" })