@{
    ViewBag.Title = "Profile";
}


@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")


<h1 class="text-center display-4 pb-3">Profile</h1>

<p>This is the control panel for all users.</p>

@Html.Partial("~/Views/Sidebar/_Sidebar-bottom.cshtml")
