@{
    ViewBag.Title = "Control Panel";
}


@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")


<h2>Control Panel</h2>

<hr />

<p>This is the control panel for all users.</p>

@Html.Partial("~/Views/Sidebar/_Sidebar-bottom.cshtml")
