<style>
    header {
        background-color: lightblue;
    }
    #purchase input,
    #purchase button {
        color:#000;
    }
    #purchase button {
        background-color: #2997AB;
        padding: 1em 2em;

    }
</style>
@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="purchase" class="bg-image pt-160 pb-120 fixed-bg">
    <div class="container">
        <div class="row">
            <h2>Purchase Product</h2>
            <div class="col-md-6 col-lg-5 col-md-offset-1">
                <img src="~/images/manual.jpg" class="img-responsive" />
            </div>

            <div class="col-md-6 col-lg-5 col-md-offset-1">
                <h2 class="text-uppercase text-bold mb-20 scrolling-animation fade-up">Shopping Cart</h2>
                <div class="scrolling-animation fade-up d1">
                    <h3>Item</h3>
                    <p>Mavic Drone</p>
                    <p>Shipping: 5-7 business days of payment confirmation</p>
                    <br />
                    <h3>Item Price</h3>
                    <p>USD: $ 1,000,000.00</p>
                    <br />
                    <h3>Quantity</h3>
                    <input type="number" placeholder="1"/>
                    <br />
                    <br />
                    <br />
                    <button>Proceed To Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
