
@{
    ViewBag.Title = "Cancel";
}

<h1 class="display-4 text-center pb-3">Transaction Unsuccessful</h1>

Your transaction was unsuccessful, click <a href="~/Home/Viewcart" class="text-primary">here</a> to try again.

