@model Simply_First.ViewModels.PayPal

@{
    ViewBag.Title = "Login";
}

@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")

<h1 class="text-center display-4 pb-3">Transaction History</h1>

@Html.Partial("~/Views/Sidebar/_Sidebar-bottom.cshtml")
