
@{
    ViewBag.Title = "Success";
}

<h1 class="display-4 text-center pb-3">Transaction Successful</h1>

Your transaction was successful, click <a href="~/Accounts/SecureArea" class="text-primary">here</a> to return to home page.

